.vscode/PublishToGallery.ps1
asdf.ps1
Issue Request.md
Source/PS1C/bin
Source/PS1C/obj
Module/


src/PS1C/bin
src/PS1C/obj
src/PS1C/packages
src/PS1C/gen
src/PS1C/obj
src/RESGEN
src/ResGen/bin/*
src/ResGen/obj/*
src/ResGen/packages

/PS1C